---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Betz Ceramic">
	<main>
		<section class="min-h-screen bg-green-50 text-black flex items-center justify-center">
			<div class="container h-full relative">
				<h1 class="text-center text-8xl font-medium"></h1>
			</div>
		</section>
	</main>
</Layout>
